@charset "utf-8";
/* CSS Document */
a:link{
	color:darkviolet;
	text-decoration:none;
}
a:visited{
	color:firebrick;
	text-decoration: none;
}
a:hover{
	color:#1A1157;
	text-decoration: underline;
}
a:active{
	font-weight: bold;
	text-decoration: none;
	color: red;
}

